<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="main-content">
    {{>header}} 
    <img class="portrait" src="/img/Kot.jpg" alt="me" width="250" height="250"/>

    </div>
    {{>footer}}
</body>
</html>
